body {
  background: #fff;
 }
 .container .row .image{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .row{
  margin-bottom: 10px;
}
.container .row .text{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}